body {
	margin: 0;
	padding: 0;
	background-color: black;
}

header, div {
	margin: 1% 5% 1% 5%;
	border-radius: 10px;
	font-family: calibri, sans-serif;
	color: white;
}

header {
	background-color: #638baf;
	font-weight: bold;
	vertical-align: middle;
}

div {
	background-color: #4697df;
	font-style: normal;
	/*	font-size: 18px;  */
	font-size: 1.2vw;
}

header div {
	background-color: #638baf;
	display: inline-block;
	/*	font-size: 42px;   */
	font-size: 2.8vw;
}

header img {
	background-color: #638baf;
	margin: 1% 2% 1% 2%;
	display: inline-block;
	vertical-align: middle;
/*	max-width:10.0vw;
	max-height:10.0vw;   */
}

div p {
	margin: 1% 5% 0% 2%;
}

.button {
	display: inline-block;
	margin: 0% 40% 1% 45%;
	/*	font-size: 22px;   */
	font-size: 1.4vw;
}